extends layout.pug

block content 
    form.container.bg-light.p-4(action="/create" method="POST")
        div.grid-section
            div
                smal.text-dark PICKUP 
                input.form-control(type="date" name="pu" required)
            div
                smal.text-dark DELIVERY
                input.form-control(name="del" type="date" required)
            div
                input.form-control(name="loadnumber" type="text" placeholder="Load Number" required)
            div 
                input.form-control(placeholder="Ocity" type="text" name="ocity" id="ocity")
                div.ocityResults.d-none.itemResult
            div 
                input.form-control(placeholder="Dcity" type="text" name="dcity" id="dcity")
                div.dcityResults.d-none.itemResult
            div
                input.form-control(name="commodity" type="text" placeholder="Commodity" required)
            div
                input.form-control(name="brokercompany" type="text" placeholder="Broker Company" required)
            div
                input.form-control(name="brokername" type="text" placeholder="Broker Name" required)
            div
                input.form-control(name="brokerphone" id="brokerPhone" type="text" placeholder="Broker Phone"  required)
            div
                input.form-control(name="phoneextension" type="text" placeholder="Phone Extension" required)
            div
                input.form-control(name="rate" type="number" placeholder="$Rate" required)
            div
                input.form-control(name="truck" type="text" placeholder="Truck Number" required)
            div
                select.form-control(name="paidunpaid" required)
                    option(value="Unselect") -- Paid / Unpaid --
                    option(value="Paid") Paid
                    option(value="Unpaid") Unpaid
            div.d-flex
                div.p-1
                    input.btn.main-color.text-light(type="submit" value="Save")
                div.p-1
                    a.btn.bg-dark.text-light(href ="/data" value="Cancel") Cancelar

    script(src='../javascripts/form.js')
            