extends home

block content
    div.container
        div.flex-container
            form.flex-container-div(action="/data" method="GET")
                div.p-1
                    input.form-control(type="text" placeholder="Username" name="user" required)
                div.p-1
                    input.form-control(type="password" placeholder="Contraseña" name="Password" required)
                div.p-1
                    input.btn.main-color.text-light.form-control(type="submit" value="Login") 